:root {
  --main-gray: #bdbdbd;
  --shadow: 0px 5px 10px 0px rgba(41, 41, 41, 0.3);
  --radius: 40px;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img:not([src]) {
  visibility: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f3f3f3;
}

.loader-div {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loader-div .loader-content {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-div img {
  height: 150px;
}

.top-wrap {
  position: absolute;
  background: rgb(15, 121, 242);
  height: 50%;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: top 0.5s ease 0s;
}
.loader-div h2 {
  position: absolute;
}
.loader-div.closed {
  animation: close-anim 0.5s forwards;
}
.loader-div.closed .spinner {
  opacity: 0;
}
.loader-div.closed h2 {
  opacity: 0;
}
@keyframes close-anim {
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.bottom-wrap {
  position: absolute;
  background: rgb(15, 121, 242);
  height: 50%;
  width: 100%;
  bottom: 0;
  z-index: 999;
  transition: bottom 0.5s ease 0s;
}
.loader-div.closed .top-wrap {
  top: -50vh;
}
.loader-div.closed .bottom-wrap {
  bottom: -50vh;
}
.container {
  padding-top: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
}
.left-container {
  min-height: 100%;
  width: 25%;
  background: white;
  position: relative;
}
.container:not(.loading) .loader {
  display: none;
}
.container.loading .left-container .loader,
.container.loading .description-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
}
.container.loading .left-container .today-container,
.container.loading .description-container .information {
  visibility: hidden;
}
.container.loading .description-container {
  position: relative;
}

.right-container {
  min-height: 100%;
  width: 72.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search {
  width: 100%;
  height: 2.2rem;
  position: relative;
}
.search-container {
  position: relative;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 100%;
  max-height: 100%;
  padding: 1rem;
  padding-left: 45px;
  font-size: 16px;
  border: 0;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  position: relative;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  color: var(--main-gray);
}
lord-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.today-container h1 {
  text-align: center;
  margin-top: 1rem;
}
.today-container h2 {
  margin-top: 0.5rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.1rem;
}
.today-container h3 {
  font-weight: 300;
}
.today-container h4 {
  font-weight: 300;
}
.today-container hr {
  margin: 1rem 1rem;
}
.today-container .now-image {
  display: block;
  width: 180px;
  height: 180px;
  margin: 2rem auto;
}
.today-container .now-temperature {
  font-size: 5rem;
  font-weight: 200;
}
.info-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.info {
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
}
.info img {
  width: 20px;
  height: 20px;
}
.info-container p {
  margin-left: 0.5rem;
}

.clouds {
  margin-bottom: 0.5rem;
}
.clouds,
.rain {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 0.7rem;
}
.clouds img,
.rain img {
  height: 20px;
  width: 20px;
}

.description-container {
  width: 100%;
  background: white;
  padding-bottom: 2rem;
  height: 100%;
}
.information {
  width: 100%;
}
.weekly-forecast-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem 2rem;
}
.title {
  font-size: 1.3rem;
  margin: 1.5rem 2rem 0;
  line-height: 1.7rem;
}
.card img {
  width: 72px;
  height: 72px;
  margin: 1rem 0rem;
}
.card p {
  text-align: center;
}
.card p.weekday {
  font-weight: 600;
}
.today-description {
  margin-left: 1rem;
}
.shadow {
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}
.gray-text {
  color: var(--main-gray);
}
.card {
  border-radius: 15px;
  padding: 0.5rem 1.3rem;
}
.highlights-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0rem 2rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr) 0.9fr 0.9fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 1rem 2rem 0;
  margin: 0rem 1rem;
  grid-template-areas:
    "uv wind sun map map"
    "humidity visibility temp map map";
}
.box-card {
  border-radius: 20px;
  min-height: 160px;
}
.box-card .card-title {
  padding: 0.5rem 0.5rem 0;
  font-size: 0.7rem;
  font-weight: 600;
}
.box-card .info-text {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0rem 0rem;
  line-height: 3rem;
}
.box-card .subinfo-text {
  font-weight: 300;
  text-align: center;
}
.box-card .description-text {
  text-align: center;
  margin-top: 1rem;
  font-weight: 300;
}
.box-card .bar-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0rem 0.5rem;
  margin-top: 1rem;
}
.box-card .indicators {
  display: flex;
  justify-content: space-between;
}
.box-card .bar {
  width: 100%;
  height: 12px;
  border-radius: 10px;
  margin-top: 0.2rem;
  background: #c4c4c4;
  position: relative;
}
.box-card .filled-bar {
  position: absolute;
  border-radius: 10px;
  height: 100%;
}
.box-card .uv-bar .filled-bar {
  background: #bc00db;
}
.sunrise,
.sunset {
  display: flex;
  align-items: center;
}
.sunrise {
  margin: 1rem 0rem 0.5rem 0.7rem;
}
.sunset {
  margin: 0rem 0.7rem;
}
.sunrise img,
.sunset img {
  width: 40px;
  height: 40px;
}
.sunrise p,
.sunset p {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
}
.humidity .info-text sup {
  font-size: 1.5rem;
  font-weight: 500;
}
.humidity .info-text sup {
  font-size: 1.5rem;
  font-weight: 500;
}
.humidity .humidity-bar .filled-bar {
  background: #5a88ff;
}
.temp-title {
  margin-bottom: 1rem;
}
.min,
.max {
  display: flex;
  align-items: center;
}
.min {
  margin: 1rem 0rem 0.5rem 0.7rem;
}
.max {
  margin: 0rem 0.7rem;
}
.min img,
.max img {
  width: 40px;
  height: 40px;
}
.min p,
.max p {
  margin-left: 0.2rem;
  font-size: 1.3rem;
  font-weight: 300;
}
.uv {
  grid-area: uv;
}
.wind {
  grid-area: wind;
}
.sun {
  grid-area: sun;
}
.humidity {
  grid-area: humidity;
}
.visibility {
  grid-area: visibility;
}
.temp {
  grid-area: temp;
}
.map {
  grid-area: map;
  position: relative;
}
.map h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-results-container {
  position: absolute;
  top: 100%;
  width: 90%;
  padding: 0.5rem 1rem;
  margin: auto;
  background: white;
  border-radius: 0px 0px 15px 15px;
  --shadow: 0px 5px 5px 0px rgba(41, 41, 41, 0.3);
  display: none;
  z-index: 888;
}
.search-list {
  list-style: none;
}
.search-list li {
  border-bottom: 1px solid #bdbdbd;
}
.search-list li p {
  padding: 0.5rem 0.5rem;
  margin: 0.1rem 0.1rem;
  cursor: pointer;
  border-radius: 5px;
}
.search-list li p:hover {
  background: #f4f4f4;
}
.search-list li:last-child {
  border-bottom: 0;
}

@media (max-width: 1295px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-container {
    width: 90%;
  }
  .right-container {
    margin-top: 2rem;
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .weekly-forecast-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 1rem;
  }

  .right-container {
    margin-top: 2rem;
    width: 90%;
  }
}
@media (max-width: 950px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
      "uv wind sun"
      "humidity visibility temp"
      "map map map";
  }
}
@media (max-width: 550px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      "uv wind"
      "sun humidity"
      "visibility temp"
      "map map";
  }
}
@media (max-width: 450px) {
  .wrapper {
    grid-template-columns: 1fr;

    grid-template-areas:
      "uv"
      "wind"
      "sun"
      "humidity"
      "visibility"
      "temp"
      "map";
  }
  .map {
    display: none;
  }
  .card {
    width: 100%;
  }
}
.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
  transition: opacity 0.2s ease;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
